html.sidebar-opened {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    .bd-title#content {
        padding: 0 !important;
    }
}

#content {
    padding-bottom: $footer-height;
}

body.std {
    position: relative;

    header.navbar {
        z-index: $zindex-navbar-fixed;
    }

    #navigation {
        padding-top: $navbar-height;
    }

    #content {
        padding-left: $sidebar-width;
    }
}

body.navbar-fixed {

    header.navbar {
        @extend .navbar-fixed-top;
    }

    #content {
        padding-top: $navbar-height;
    }

    &.top-nav {
        &.fixed-nav {

            #navigation {
                position: fixed;
            }

            #content {
                padding-top: $navbar-height + $navigation-height;
            }
        }
    }
}

body.sidebar-nav {

    header.navbar {
        z-index: $zindex-navbar-fixed;
    }

    #navigation {
        left: 0;
        display: inline;
        padding-top: $navbar-height;
        transition: .5s;
    }

    #content {
        padding-left: $sidebar-width;
    }

    footer#footer {
        left: $sidebar-width;
    }

    &.compact-nav {

        #content {
            padding-left: $sidebar-compact-width;
        }

        footer#footer {
            left: $sidebar-compact-width;
        }
    }

    &.fixed-nav {

        #navigation {
            position: fixed;
        }

        #navigation-footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }

    &.sidebar-off-canvas {

        #navigation {
            left: -$sidebar-width;
            z-index: $zindex-navbar-fixed + 1;
            padding-top: 0;
            transition: .5s !important;

            .sidebar-close {
                display: inline;
            }
        }

        #content {
            padding-left: 0;
            transition: .5s;
        }

        #footer {
            left: 0;
        }
    }

    &.sidebar-opened {

        #navigation {
            left: 0;
        }

        &.sidebar-off-canvas-push {

            #content {
                margin-right: -$sidebar-width;
                margin-left: $sidebar-width;
            }

            #footer {
                margin-right: -$sidebar-width;
                margin-left: $sidebar-width;
            }
        }

        &.sidebar-off-canvas-with-shadow {
            position: relative;
            max-width: 100% !important;
            overflow-x: hidden !important;


            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: $zindex-navbar-fixed;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(0,0,0,.7);
            }
        }
    }
}

body.top-nav {

    .layout-toggler {
        display: none !important;
    }

    #content {
        padding-top: $navbar-height + $navigation-height;
    }

    #navigation-header {
        display: none;
    }
}
