<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>
<!-- Navigation -->
<div ng-include="'views/common/sidebar-nav.html'"></div>
<!-- Main content -->
<main class="main">
    <!-- Page Header -->
    <div class="page-header">
        <h1 class="h2">
            <span ncy-breadcrumb-last></span>
        </h1>
        <div class="text-muted"> {{ $stateParams.subtitle }}</div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
        <ncy-breadcrumb></ncy-breadcrumb>
    </ol>
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
</main>
<!-- Aside Menu -->
<div ng-include="'views/common/aside.html'"></div>
<!-- Footer -->
<div ng-include="'views/common/footer.html'"></div>