footer#footer {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include borders($footer-borders);
    padding: 0 $spacer-x;
    background: $footer-bg;
    color: $footer-color;
    height: $footer-height;
    line-height: $footer-height;
}
