<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>
<!-- Navigation -->
<div ng-include="'views/common/sidebar-nav.html'"></div>
<!-- Main content -->
<main class="main">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-md-7">
                <h1 class="h2">
                    <span ncy-breadcrumb-last></span>
                </h1>
                <div class="text-muted"> {{ $stateParams.subtitle }}</div>
            </div>
            <div class="col-md-5 charts">
                <div class="row" ng-controller="chartsCtrl">
                    <div class="col-xs-4">
                        <div class="chart-wrapper">
                            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options" chart-colours="colours" height="68"></canvas>
                        </div>
                        <div class="text-xs-center title">
                            <span class="text-muted">Income: </span>
                            <strong>$189.128</strong>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="chart-wrapper">
                            <canvas class="chart chart-line" chart-data="data1" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colours="colours2" height="68"></canvas>
                        </div>
                        <div class="text-xs-center title">
                            <span class="text-muted">New clients: </span>
                            <strong class="text-danger">1.128</strong>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="chart-wrapper">
                            <canvas class="chart chart-line" chart-data="data2" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colours="colours3" height="68"></canvas>
                        </div>
                        <div class="text-xs-center title">
                            <span class="text-muted">Orders: </span>
                            <strong class="text-success">2.345</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
        <ncy-breadcrumb></ncy-breadcrumb>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i> &nbsp;Settings
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header text-xs-center">
                            <strong>{{ 'ACCOUNT' | translate }}</strong>
                        </div>
                        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> {{ 'TASKS' | translate }}<span class="label label-danger">13</span></a>
                        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> {{ 'COMMENTS' | translate }}<span class="label label-warning">234</span></a>
                        <div class="dropdown-header text-xs-center">
                            <strong>{{ 'SETTINGS' | translate }}</strong>
                        </div>
                        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> {{ 'SETTINGS' | translate }}</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> {{ 'PAYMENTS' | translate }}<span class="label label-default">75</span></a>
                        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> {{ 'PROJECTS' | translate }}<span class="label label-primary">2</span></a>
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
</main>
<!-- Aside Menu -->
<div ng-include="'views/common/aside.html'"></div>
<!-- Footer -->
<div ng-include="'views/common/footer.html'"></div>